html, body {
    height: 100%;
    margin: 0;
    font-family: "Poppins", system-ui, sans-serif;
}

body {
    padding: 40px;
}

a{
    color: black;
    font-family: sans-serif;
    font-size: 20px;
    padding: 40px;
}


.button {
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 20px;
}

#noteform {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
