html, body #root{
    height: 100%;
    margin: 0;
  }
  
body {
    display: flex;
    justify-content: center;  /* horizontal */
    align-items: center;      /* vertical */
    font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  }
.text {
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0.5px;
  }